p { 
    margin-top: 0;
    margin-bottom: 0;
  }
  
  body {
    font-family: Roboto, Arial;
    margin: 0;
    padding-top: 80px;
    padding-left: 96px;
    padding-right: 24px;
    background-color: rgb(248,248,248);
  }
  .thumbnail {
    width: 100%;
  }

  .search-bar {
    display: block;
  }

  .video-title {
    margin-top: 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 10px;
  }

 

  .channel-picture {
    display: inline-block;
    width: 50px;
    vertical-align: top;
  }

  .video-info {
    display: inline-block;
    width: 200px;
  }

  .profile-picture {
    width: 36px;
    border-radius: 50px;
  }

  .thumbnail-row {
    margin-bottom: 8px;
    position: relative;
  }

  .video-author,
  .video-stats {
    font-size: 12px;
    color: rgb(96, 96, 96);
  }

  .video-author {
    margin-bottom: 4px;
  }

  .video-info-grid{
    display: grid;
    grid-template-columns: 50px 1fr;
  }

  .video-grid{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr ;
    column-gap:14px;
    row-gap: 40px;
  }

  @media (max-width: 750px){
    .video-grid{
      grid-template-columns: 1fr 1fr ;
    }
  }

  @media (min-width:751px) and (max-width: 999px){
    .video-grid{
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
  @media (min-width:1000px){
    .video-grid{
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }

  .header{
    height: 55px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    position: fixed;
    top:0;
    right:0;
    left:0;
    background-color: white;
    border-bottom-width:1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(226, 226, 226);
  }

  .left-section{
    
    display: flex;
    align-items: center;
  }

  .middle-section{
    display: flex;
    flex: 1;
    margin-left:70px;
    margin-right: 35px;
    max-width: 500px;
    align-items: center;
  }

  .right-section{
    margin-right:20px;
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
  }

  .hamburger-menu{
    height: 24px;
    margin-left: 24px;
    margin-right: 24px ;
  }

  .youtube-logo{
    height:20px;
  }


  .search-bar{
   flex: 1;
   height: 36px;
   padding-left:10px;
   font-size:16px;
   border: 1px solid rgb(192,192,192);
   border-radius: 2px;
   box-shadow: inset 1px 2px 3px rgba(0,0,0,0.05);
   width:0;
  }

  .search-bar::placeholder{
    
    font-size: 16px;
  }

  .voice-search-button{
    height:40px;
    width:40px;
    border-radius: 20px;
    border:none;
    background-color: rgb(248,248,248);
  }
  .voice-search{
    height:24px; 
  }

  .search-button{
    height: 40px;
    width: 66px;
    background-color: rgb(240,240,240);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(192, 192, 192);
    margin-left: -1px;
    margin-right: 10px;  
  }

  .search-button,
  .voice-search-button,
  .upload-container,
  .youtube-apps-container,
  .notifications-icon-container{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
  }

  .search-button .tooltip,
  .voice-search-button .tooltip,
  .upload-container .tooltip,
  .youtube-apps-container .tooltip,
  .notifications-icon-container .tooltip{
    
    position: absolute;
    background-color: gray;
    color:white;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right:8px;
    padding-left:8px;
    border-radius:2px;
    font-size:12px;
    bottom:-30px;
    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none;
    white-space: nowrap;
  }

  .search-button:hover .tooltip,
  .voice-search-button:hover .tooltip,
  .upload-container:hover .tooltip,
  .youtube-apps-container:hover .tooltip,
  .notifications-icon-container:hover .tooltip{
    opacity: 1;
  }

  
  .search-icon{
    height:25px;   
  }

.upload{
  height:24px;
}

.youtube-apps{
  height:24px;
}

.notifications{
  height:24px;
}

.notifications-icon-container{
  position:relative;
}

.notification-count{
  position:absolute;
  top:-3px;
  right:-7px;
  background-color: rgb(208, 0, 0);
  color:white;
  
  font-size:11px;
  padding-left:6px;
  padding-right:6px;
  padding-top:3px;
  padding-bottom:3px;
  border-radius:12px;
}

.profile-pic{
  height: 32px;
  border-radius:16px;
}

.sidebar{
  position: fixed;
  top: 55px;
  left:0;
  right:0;
  bottom:55px;
  background-color: white;
  width:72px;
  z-index:200;
  padding-top:5px;
}

.sidebar-link{
  height:76px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}

.sidebar-link:hover{
  background-color: rgb(221, 220, 220);
}

.sidebar-link img{
  height:24px;
  margin-bottom: 4px;
}

.sidebar-link div{
  font-size:10px;
}

.video-time{
  font-size: 12px;
  font-weight: 500;
  padding: 4px;
  background-color:black;
  color:white;
  border-radius: 2px;
  position: absolute;
  bottom:8px;
  right:5px;
}